.loading {
    background-color: #b09494;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
  }

.loadingIcon {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.3s ease-out;
    display: inline-block;
    margin-right: 20px;
  }
  
  .loadingIconActive {
    opacity: 1;
    transform: scale(1);
    animation: pulse 1s ease-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }